body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --white: white;

  --primary-green: #709943;
  --dark-green: #2f391b;
  --secondary-green: #5d7740;

  --primary-yellow: #dedc00;
  --dark-yellow: #d98324;
  --secondary-yellow: #fffc5c;

  --primary-red: #ff0a23;
  --dark-red: #8b0000;
  --secondary-red: #ff3347;

  --primary-blue: #1643a2;
  --dark-blue: #0e0052;
  --secondary-blue: #3badba;

  --primary-pink: #d24787;
  --dark-pink: #7f3667;
  --secondary-pink: #ffdde1;
}
